
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');


body{
    background-image: url("../img/fundo1.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;  
    

    
}

.container{
    margin-top: 20px;
    
}

.titulo{
    padding: 20px 20px;
    text-align:  center;
}

#buton{
    width: 150px;
}
h1,h2{
    text-align: center;
    font-family: 'Bungee Spice', cursive;
}
#nav{
    background-color: #343a40;
    height: 5vw;
}

.botao{
    width: 150px;
    height: 50px;
    border-radius: 15px; 
    border: none;   
    background: #343a40 ;
    font-family: 'Bungee Spice', cursive;
    transition: 600ms;
    
}

.botao:hover{    
    background-color: aliceblue;
    color: white; 
}


footer{
    background-color: #454d55;
    width: auto;
    height: 40px;
    color: aliceblue;
    text-align: center;
    
}